@import '../../variables';

header {
    padding: 1rem 0;

    &.home {
        .container {
            flex-direction: row;
            align-items: center;

            .logo-item {
                max-width: 120px;
                a {
                    color: white;
                    p {
                        font-weight: 800;
                        letter-spacing: 1;
                    }
                }
            }

            .menu {
                display: flex;
                align-items: center;
                a.btn {
                    padding: 0;
                    background-color: transparent;
                }
            }
        }

        @include mediaXs {
            .container {
                .menu {
                    a {
                        min-width: 100px;
                    }
                }
            }
        }

        @include mediaSm {
            .container {
                .menu {
                    a:not(.btn) {
                        display: unset;
                    }

                    a.btn {
                        margin-left: 1rem;
                        padding: 10px 20px;
                        background-color: $primary;

                        &.btn-white {
                            background-color: $white;
                        }
                    }
                }
            }
        }

        @include mediaMd {
            .container {
                .menu {
                    a:not(.btn) {
                        display: none;
                        color: white;
                    }
                }
            }
        }
    }

    .container {
        flex-direction: column;

        .top-header {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;

            .logo-item {
                max-width: 120px;
                p {
                    font-weight: 800;
                    letter-spacing: 1;
                }
            }

            .wedding-logo {
                order: -1;
                display: block;
                width: 100%;
                text-align: center;

                img {
                    max-width: 180px;
                }
            }

            .side-item {
                text-align: right;
            }
        }
    }

    @include mediaSm {
        .container {
            .top-header {
                flex-wrap: unset;

                // .side-item {
                //     flex: 0 0 20%;
                // }

                .wedding-logo {
                    order: 0;
                    display: unset;
                    width: unset;
                }
            }
        }
    }
}
