@import '../../variables';

.main {
    position: relative;
    display: flex;
    flex-direction: column;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
}