$primary: #28C101;
$offWhite: #f5f5fb;

/*  Media mixin can be used by including it inside the sass style selection as shown below
 .main  {
      @include mediaLg {
          width: 100%;
      }
    }
*/

//Media mixin for slightly bigger screens or small tablets
@mixin mediaSm {
  @media screen and (min-width: 484px) {
    @content;
  }
}

// Media mixin for medium sized screens and tablets
@mixin mediaMd {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  // Media mixin for small desktop screens and laptops
  @mixin mediaLg {
    @media screen and (min-width: 980px) {
      @content;
    }
  }

  // Media mixin for large desktop sized screens
  @mixin mediaXl {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }



  